CACHE_ENABLED=True
CACHE_LOCATION=redis://127.0.0.1:6379
API_KEY=
SECRET_KEY=
REDIS_HOST=127.0.0.1:6379
REDIS_PORT=6379
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
PASSWORD=12345
NAME=postgres
USER=postgres
PORT=5432
TOKEN_TELEGRAM
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/1
POSTGRES_PASSWORD=12345
POSTGRES_DB=postgres
POSTGRES_USER=postgres
